* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 900px) {
  body .delev {
    display: none;
  }
  body menu {
    display: none;
  }
  body #times {
    display: none;
  }
  body #bars {
    display: none;
  }
  body #check {
    display: none;
  }
}

/*######################################### header #####################################################*/
header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #232f3e;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h2 {
  color: #fff;
  padding: 10px 0;
}

header h2:hover {
  outline: 1px solid white;
}

header p {
  color: #fff;
  padding: 4px;
  font-size: 14px;
}

header p:hover {
  outline: 1px solid white;
}

header .delevery-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .delevery-wrapper i {
  color: #fff;
  padding-right: 10px;
}

header .delevery-wrapper span {
  color: grey;
}

header .search-wrapper {
  width: 50%;
  height: 40px;
  background-color: #fff;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .search-wrapper:focus-within {
  border: 2px solid orange;
}

header .search-wrapper input {
  width: 100%;
  border: none;
  outline: none;
}

header .search-wrapper input[placeholder] {
  font-size: 17px;
  padding-left: 10px;
}

header .search-wrapper label {
  width: 60px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #dadada;
  border-radius: 6px 0 0 6px;
  padding: 0 10px;
  font-size: 17px;
  color: grey;
  border-right: 1px solid #919090;
}

header .search-wrapper label:hover {
  color: black;
}

header .search-wrapper label i {
  font-size: 16px;
}

header .search-wrapper #search-icon {
  background-color: #e9ad3d;
  width: 40px;
  height: 100%;
  line-height: 40px;
  text-align: center;
  border-radius: 0 6px 6px 0;
}

header .sign-in-wrapper p {
  font-weight: bold;
}

header .sign-in-wrapper p span {
  color: grey;
  font-weight: normal;
}

header .return-wrapper p {
  font-weight: bold;
}

header .return-wrapper p span {
  color: grey;
  font-weight: normal;
}

header .cart {
  font-size: 20px;
  color: #fff;
  padding: 12px 0;
}

header .cart:hover {
  outline: 1px solid white;
}

/*######################################## header media quiries 900px #################################*/
@media only screen and (max-width: 900px) {
  body header {
    width: 100%;
    height: 90px;
    border-bottom: 1px solid grey;
    padding-bottom: 3px;
  }
  body header menu {
    width: 80%;
    height: 100%;
    background-color: #444;
    left: -700px;
    position: fixed;
    top: 0;
    z-index: 1;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
  }
  body header menu h6 {
    background-color: #232f3e;
    padding: 24px;
    color: white;
    font-size: 30px;
  }
  body header menu h3 {
    color: black;
    background-color: white;
    padding: 24px;
  }
  body header menu h3 #home {
    float: right;
    font-size: 24px;
  }
  body header menu #h3 {
    border-bottom: 4px solid grey;
  }
  body header menu #para {
    border-bottom: 4px solid grey;
  }
  body header menu p {
    color: #272626;
    background-color: white;
    padding: 20px;
  }
  body header #check {
    display: none;
  }
  body header #bars, body header #times {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
  }
  body header #bars {
    z-index: 1;
    top: 1.5%;
    color: white;
    left: 4%;
  }
  body header #times {
    left: 70%;
    color: white;
    z-index: 77;
  }
  body header #check:checked ~ menu {
    left: 0;
  }
  body header h2 {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    position: absolute;
    left: 10%;
  }
  body header h2:hover {
    outline: none;
  }
  body header .delevery-wrapper {
    display: none;
  }
  body header .search-wrapper {
    width: 96%;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  body header .sign-in-wrapper {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    position: absolute;
    right: 19%;
  }
  body header .return-wrapper {
    display: none;
  }
  body header .cart {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    position: absolute;
    right: 3%;
  }
  body header .cart:hover {
    outline: none;
  }
}

@media only screen and (max-width: 400px) {
  body header h2 {
    font-size: 17px;
    top: 0.6%;
  }
  body header .sign-in-wrapper {
    display: none;
  }
}

/*################################################ nav #################################################*/
nav {
  width: 100%;
  height: 50px;
  background-color: #292153;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .left-bar {
  margin-left: 20px;
}

nav .left-bar i {
  color: #fff;
  margin-left: 20px;
  padding: 10px 4px;
}

nav .left-bar i:hover {
  outline: 1px solid white;
}

nav .left-bar i span {
  margin-left: 4px;
}

nav .left-bar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
  padding: 10px 10px;
}

nav .left-bar a:hover {
  outline: 1px solid white;
}

nav .right-bar a {
  color: white;
  text-decoration: none;
  margin-right: 30px;
  font-size: 14px;
  padding: 10px 10px;
}

nav .right-bar a:hover {
  outline: 1px solid white;
}

/*############################################## nav media quiries #####################################*/
body nav {
  width: 100%;
  height: 30px;
  background-color: #232f3e;
  overflow: hidden;
  overflow-x: scroll;
  height: 80px;
  white-space: nowrap;
}

body nav .left-bar {
  margin-left: 10px;
  width: 70%;
}

body nav .left-bar i {
  color: #fff;
}

body nav .left-bar i:hover {
  outline: none;
}

body nav .left-bar i span {
  margin-left: 4px;
}

body nav .left-bar a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
  font-weight: bold;
}

body nav .left-bar a:hover {
  outline: none;
  color: #c46128;
}

body nav .right-bar {
  width: 40%;
}

body nav .right-bar a {
  color: white;
  text-decoration: none;
  padding-left: 300px;
  font-weight: bold;
}

body nav .right-bar a:hover {
  outline: none;
  color: #c46128;
}

.wrapper {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "div-1 div-2 div-3 div-4" " div-5 div-6 div-7 div-8"  "div-9 div-9 div-9 div-9 " "div-10 div-10 div-10 div-10"  "div-11 div-11 div-11 div-11" "div-12 div-12 div-12 div-12";
  -ms-grid-rows: auto auto auto auto auto auto auto;
      grid-template-rows: auto auto auto auto auto auto auto;
  gap: 16px;
  padding: 0 20px;
  margin-top: 200px;
}

.wrapper div {
  background-color: #fff;
  text-align: center;
  padding: 0px 0 80px 0;
  width: 100%;
  position: relative;
}

.wrapper div h2 {
  background-color: #14223b;
  color: white;
  padding: 10px 0;
}

.wrapper div h2:hover {
  color: orangered;
}

.wrapper div a {
  text-decoration: none;
  position: absolute;
  top: 90%;
  left: 10%;
  background-color: blue;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
}

.wrapper div a:hover {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}

h1 {
  text-align: left;
  padding: 20px;
}

.wrapper div img {
  max-width: 100%;
}

.div-1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: div-1;
}

.div-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: div-2;
}

.div-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: div-3;
}

.div-4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: div-4;
}

.div-4 .sign-wrapper {
  width: 100%;
}

.div-4 .sign-wrapper h3 {
  color: #252424;
  text-align: left;
  padding-left: 20px;
  padding-bottom: 20px;
}

.div-4 .sign-wrapper p {
  background-color: #f6fa21;
  text-align: center;
  padding: 10px 0;
  margin: 0 20px;
  border-radius: 10px;
}

.div-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: div-5;
}

.div-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: div-6;
}

.div-7 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: div-7;
}

.div-8 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: div-8;
}

.div-9 img {
  width: 23%;
}

.div-10 img {
  width: 23%;
}

.div-11 img {
  width: 23%;
}

.div-12 img {
  width: 23%;
}

.div-9 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: div-9;
  position: relative;
}

.div-9 h1 {
  float: left;
  position: absolute;
  top: 0px;
  left: 4%;
  margin-bottom: 30px;
}

.div-10 {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: div-10;
}

.div-11 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: div-11;
}

.div-12 {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: div-12;
}

/*############################################### body media quiries ###################################*/
body {
  /*###################################################### media quiries 400px ###########################*/
}

@media only screen and (max-width: 900px) {
  body .wrapper {
    position: relative;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "div-1 div-1 div-2 div-2" " div-3 div-3 div-4 div-4"  "div-5 div-5 div-6 div-6 " "div-7 div-7 div-8 div-8"  "div-9 div-9 div-10 div-10" "div-11 div-11 div-12 div-12";
    -ms-grid-rows: auto auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
    gap: 16px;
    padding: 0 20px;
  }
  body .wrapper h1 {
    font-size: 18px;
  }
  body .wrapper img {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  body .wrapper {
    position: relative;
    display: -ms-grid;
    display: grid;
        grid-template-areas: "div-1 div-1 div-1 div-1" " div-2 div-2 div-2 div-2"  "div-3 div-3 div-3 div-3 " "div-4 div-4 div-4 div-4"  "div-5 div-5 div-5 div-5" "div-6 div-6 div-6 div-6" "div-7 div-7 div-7 div-7" "div-8 div-8 div-8 div-8" "div-9 div-9 div-9 div-9" "div-10 div-10 div-10 div-10" "div-11 div-11 div-11 div-11" "div-12 div-12 div-12 div-12";
    -ms-grid-rows: auto auto auto auto auto auto auto;
        grid-template-rows: auto auto auto auto auto auto auto;
    gap: 16px;
    padding: 0 20px;
  }
  body .wrapper h1 {
    font-size: 26px;
  }
  body .wrapper img {
    width: 100%;
  }
}

.footer-wrapper {
  background-color: white;
  margin-top: 30px;
  padding-top: 20px;
}

.footer-wrapper .top-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #c2c1c1;
}

.fig-1 {
  width: 20%;
  padding: 40px 10px;
  background-color: white;
  margin: 10px;
}

.fig-1 img {
  max-width: 100%;
}

.fig-1 a {
  text-decoration: none;
  color: #48a7df;
}

.fig-1 i {
  color: orange;
}

.fig-1 p {
  color: #3f3e3e;
}

.sign-in-personilized {
  width: 100%;
  height: 80px;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-top: 20px;
}

.sign-in-personilized button {
  background-color: #e0a31f;
  padding: 8px 120px;
  border-radius: 8px;
  border: 1px solid #631b01;
  font-weight: bolder;
}

.sign-in-personilized span {
  font-size: 14px;
}

.sign-in-personilized a {
  font-size: 14px;
  text-decoration: none;
  color: #3979da;
  padding-left: 2px;
}

.sign-in-personilized p {
  padding-bottom: 10px;
}

.fig-2 {
  width: 20%;
  padding: 40px 10px;
  background-color: white;
  margin: 10px;
}

.fig-2 img {
  max-width: 100%;
}

.fig-2 a {
  text-decoration: none;
  color: #48a7df;
}

.fig-2 i {
  color: orange;
}

.fig-2 p {
  color: #3f3e3e;
}

.sign-in-personilized {
  width: 100%;
  height: 80px;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-top: 20px;
}

.sign-in-personilized button {
  background-color: #e0a31f;
  padding: 8px 120px;
  border-radius: 8px;
  border: 1px solid #631b01;
  font-weight: bolder;
}

.sign-in-personilized span {
  font-size: 14px;
}

.sign-in-personilized a {
  font-size: 14px;
  text-decoration: none;
  color: #3979da;
  padding-left: 2px;
}

.sign-in-personilized p {
  padding-bottom: 10px;
}

.fig-3 {
  width: 20%;
  padding: 40px 10px;
  background-color: white;
  margin: 10px;
}

.fig-3 img {
  max-width: 100%;
}

.fig-3 a {
  text-decoration: none;
  color: #48a7df;
}

.fig-3 i {
  color: orange;
}

.fig-3 p {
  color: #3f3e3e;
}

.sign-in-personilized {
  width: 100%;
  height: 80px;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-top: 20px;
}

.sign-in-personilized button {
  background-color: #e0a31f;
  padding: 8px 120px;
  border-radius: 8px;
  border: 1px solid #631b01;
  font-weight: bolder;
}

.sign-in-personilized span {
  font-size: 14px;
}

.sign-in-personilized a {
  font-size: 14px;
  text-decoration: none;
  color: #3979da;
  padding-left: 2px;
}

.sign-in-personilized p {
  padding-bottom: 10px;
}

.fig-4 {
  width: 20%;
  padding: 40px 10px;
  background-color: white;
  margin: 10px;
}

.fig-4 img {
  max-width: 100%;
}

.fig-4 a {
  text-decoration: none;
  color: #48a7df;
}

.fig-4 i {
  color: orange;
}

.fig-4 p {
  color: #3f3e3e;
}

.sign-in-personilized {
  width: 100%;
  height: 80px;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-top: 20px;
}

.sign-in-personilized button {
  background-color: #e0a31f;
  padding: 8px 120px;
  border-radius: 8px;
  border: 1px solid #631b01;
  font-weight: bolder;
}

.sign-in-personilized span {
  font-size: 14px;
}

.sign-in-personilized a {
  font-size: 14px;
  text-decoration: none;
  color: #3979da;
  padding-left: 2px;
}

.sign-in-personilized p {
  padding-bottom: 10px;
}

.fig-5 {
  width: 20%;
  padding: 40px 10px;
  background-color: white;
  margin: 10px;
}

.fig-5 img {
  max-width: 100%;
}

.fig-5 a {
  text-decoration: none;
  color: #48a7df;
}

.fig-5 i {
  color: orange;
}

.fig-5 p {
  color: #3f3e3e;
}

.sign-in-personilized {
  width: 100%;
  height: 80px;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-top: 20px;
}

.sign-in-personilized button {
  background-color: #e0a31f;
  padding: 8px 120px;
  border-radius: 8px;
  border: 1px solid #631b01;
  font-weight: bolder;
}

.sign-in-personilized span {
  font-size: 14px;
}

.sign-in-personilized a {
  font-size: 14px;
  text-decoration: none;
  color: #3979da;
  padding-left: 2px;
}

.sign-in-personilized p {
  padding-bottom: 10px;
}

.fig-6 {
  width: 20%;
  padding: 40px 10px;
  background-color: white;
  margin: 10px;
}

.fig-6 img {
  max-width: 100%;
}

.fig-6 a {
  text-decoration: none;
  color: #48a7df;
}

.fig-6 i {
  color: orange;
}

.fig-6 p {
  color: #3f3e3e;
}

.sign-in-personilized {
  width: 100%;
  height: 80px;
  background-color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding-top: 20px;
}

.sign-in-personilized button {
  background-color: #e0a31f;
  padding: 8px 120px;
  border-radius: 8px;
  border: 1px solid #631b01;
  font-weight: bolder;
}

.sign-in-personilized span {
  font-size: 14px;
}

.sign-in-personilized a {
  font-size: 14px;
  text-decoration: none;
  color: #3979da;
  padding-left: 2px;
}

.sign-in-personilized p {
  padding-bottom: 10px;
}

.fig-1 {
  grid-area: fig-1;
}

.fig-2 {
  grid-area: fig-2;
}

.fig-3 {
  grid-area: fig-3;
}

.fig-4 {
  grid-area: fig-4;
}

.fig-5 {
  grid-area: fig-5;
}

.fig-6 {
  grid-area: fig-6;
}

@media only screen and (max-width: 716px) {
  .footer-wrapper {
    background-color: white;
    margin-top: 30px;
    padding-top: 20px;
  }
  .footer-wrapper .top-footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-top: 1px solid #c2c1c1;
  }
  .fig-1 {
    width: 100%;
    padding: 40px 10px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  .fig-1 img {
    max-width: 100%;
  }
  .fig-1 a {
    text-decoration: none;
    color: #48a7df;
  }
  .fig-1 i {
    color: orange;
  }
  .fig-1 p {
    color: #3f3e3e;
  }
  .sign-in-personilized {
    width: 100%;
    height: 80px;
    background-color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    padding-top: 20px;
  }
  .sign-in-personilized button {
    background-color: #e0a31f;
    padding: 8px 60px;
    border-radius: 8px;
    border: 1px solid #631b01;
    font-weight: bolder;
  }
  .sign-in-personilized span {
    font-size: 14px;
  }
  .sign-in-personilized a {
    font-size: 14px;
    text-decoration: none;
    color: #3979da;
    padding-left: 2px;
  }
  .sign-in-personilized p {
    padding-bottom: 10px;
  }
  .fig-2 {
    width: 100%;
    padding: 40px 10px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  .fig-2 img {
    max-width: 100%;
  }
  .fig-2 a {
    text-decoration: none;
    color: #48a7df;
  }
  .fig-2 i {
    color: orange;
  }
  .fig-2 p {
    color: #3f3e3e;
  }
  .sign-in-personilized {
    width: 100%;
    height: 80px;
    background-color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    padding-top: 20px;
  }
  .sign-in-personilized button {
    background-color: #e0a31f;
    padding: 8px 60px;
    border-radius: 8px;
    border: 1px solid #631b01;
    font-weight: bolder;
  }
  .sign-in-personilized span {
    font-size: 14px;
  }
  .sign-in-personilized a {
    font-size: 14px;
    text-decoration: none;
    color: #3979da;
    padding-left: 2px;
  }
  .sign-in-personilized p {
    padding-bottom: 10px;
  }
  .fig-3 {
    width: 100%;
    padding: 40px 10px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  .fig-3 img {
    max-width: 100%;
  }
  .fig-3 a {
    text-decoration: none;
    color: #48a7df;
  }
  .fig-3 i {
    color: orange;
  }
  .fig-3 p {
    color: #3f3e3e;
  }
  .sign-in-personilized {
    width: 100%;
    height: 80px;
    background-color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    padding-top: 20px;
  }
  .sign-in-personilized button {
    background-color: #e0a31f;
    padding: 8px 60px;
    border-radius: 8px;
    border: 1px solid #631b01;
    font-weight: bolder;
  }
  .sign-in-personilized span {
    font-size: 14px;
  }
  .sign-in-personilized a {
    font-size: 14px;
    text-decoration: none;
    color: #3979da;
    padding-left: 2px;
  }
  .sign-in-personilized p {
    padding-bottom: 10px;
  }
  .fig-4 {
    width: 100%;
    padding: 40px 10px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  .fig-4 img {
    max-width: 100%;
  }
  .fig-4 a {
    text-decoration: none;
    color: #48a7df;
  }
  .fig-4 i {
    color: orange;
  }
  .fig-4 p {
    color: #3f3e3e;
  }
  .sign-in-personilized {
    width: 100%;
    height: 80px;
    background-color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    padding-top: 20px;
  }
  .sign-in-personilized button {
    background-color: #e0a31f;
    padding: 8px 60px;
    border-radius: 8px;
    border: 1px solid #631b01;
    font-weight: bolder;
  }
  .sign-in-personilized span {
    font-size: 14px;
  }
  .sign-in-personilized a {
    font-size: 14px;
    text-decoration: none;
    color: #3979da;
    padding-left: 2px;
  }
  .sign-in-personilized p {
    padding-bottom: 10px;
  }
  .fig-5 {
    width: 100%;
    padding: 40px 10px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  .fig-5 img {
    max-width: 100%;
  }
  .fig-5 a {
    text-decoration: none;
    color: #48a7df;
  }
  .fig-5 i {
    color: orange;
  }
  .fig-5 p {
    color: #3f3e3e;
  }
  .sign-in-personilized {
    width: 100%;
    height: 80px;
    background-color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    padding-top: 20px;
  }
  .sign-in-personilized button {
    background-color: #e0a31f;
    padding: 8px 60px;
    border-radius: 8px;
    border: 1px solid #631b01;
    font-weight: bolder;
  }
  .sign-in-personilized span {
    font-size: 14px;
  }
  .sign-in-personilized a {
    font-size: 14px;
    text-decoration: none;
    color: #3979da;
    padding-left: 2px;
  }
  .sign-in-personilized p {
    padding-bottom: 10px;
  }
  .fig-6 {
    width: 100%;
    padding: 40px 10px;
    background-color: white;
    margin: 10px;
    text-align: center;
  }
  .fig-6 img {
    max-width: 100%;
  }
  .fig-6 a {
    text-decoration: none;
    color: #48a7df;
  }
  .fig-6 i {
    color: orange;
  }
  .fig-6 p {
    color: #3f3e3e;
  }
  .sign-in-personilized {
    width: 100%;
    height: 80px;
    background-color: white;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    text-align: center;
    padding-top: 20px;
  }
  .sign-in-personilized button {
    background-color: #e0a31f;
    padding: 8px 60px;
    border-radius: 8px;
    border: 1px solid #631b01;
    font-weight: bolder;
  }
  .sign-in-personilized span {
    font-size: 14px;
  }
  .sign-in-personilized a {
    font-size: 14px;
    text-decoration: none;
    color: #3979da;
    padding-left: 2px;
  }
  .sign-in-personilized p {
    padding-bottom: 10px;
  }
  .fig-1 {
    grid-area: fig-1;
  }
  .fig-2 {
    grid-area: fig-2;
  }
  .fig-3 {
    grid-area: fig-3;
  }
  .fig-4 {
    grid-area: fig-4;
  }
  .fig-5 {
    grid-area: fig-5;
  }
  .fig-6 {
    grid-area: fig-6;
  }
}

.back-to-top {
  width: 100%;
  background-color: #2e3c4d;
  padding: 8px 0;
  line-height: 40px;
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid #ddd1d1;
}

.back-to-top a {
  text-decoration: none;
  color: white;
}

.middle-footer {
  width: 100%;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: #232f3e;
  color: white;
  padding-top: 50px;
}

.middle-footer a {
  display: block;
  color: white;
  line-height: 30px;
  text-decoration: none;
}

@media only screen and (max-width: 716px) {
  body .back-to-top {
    width: 100%;
    background-color: #2e3c4d;
    padding: 8px 0;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid #ddd1d1;
  }
  body .back-to-top a {
    text-decoration: none;
    color: white;
  }
  body .middle-footer {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    background-color: #232f3e;
    color: white;
    padding-top: 50px;
  }
  body .middle-footer a {
    display: block;
    color: white;
    line-height: 30px;
    text-decoration: none;
  }
}

.bottom-footer {
  width: 100%;
  height: 100px;
  background-color: #232f3e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #585858;
}

.bottom-footer .language-wrapper {
  border: 1px solid white;
  background-color: #232f3e;
  margin: 0 8px;
  border-radius: 4px;
  cursor: pointer;
}

.bottom-footer .language-wrapper i {
  color: #cac7c7;
  font-size: 18px;
}

.bottom-footer .language-wrapper input {
  border: none;
  outline: none;
  background-color: #232f3e;
  color: white;
  width: 80px;
  height: 35px;
}

.bottom-footer h2 {
  color: white;
  margin-right: 100px;
  cursor: pointer;
}

.bottom-footer button {
  width: 6;
  height: 35px;
  background-color: #232f3e;
  color: #cac7c7;
  border: 1px solid white;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

/*####################################### the-very-bottom-footer ######################################*/
.the-very-bottom-footer {
  background-color: #141b24;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 50px 0;
}

.the-very-bottom-footer h6 {
  color: white;
  font-size: 14px;
  margin-top: 30px;
}

.the-very-bottom-footer a {
  color: white;
  text-decoration: none;
  font-size: 10px;
  line-height: 16px;
}

.sec-1 {
  float: left;
  padding: 0 20px;
}

.sec-2 {
  float: left;
  padding: 0 20px;
}

.sec-3 {
  float: left;
  padding: 0 20px;
}

.sec-4 {
  float: left;
  padding: 0 20px;
}

.sec-5 {
  float: left;
  padding: 0 20px;
}

.sec-6 {
  float: left;
  padding: 0 20px;
}

.sec-7 {
  float: left;
  padding: 0 20px;
}

@media only screen and (max-width: 716px) {
  body {
    /*####################################### the-very-bottom-footer ######################################*/
  }
  body .bottom-footer {
    width: 100%;
    height: 220px;
    background-color: #232f3e;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-top: 1px solid #585858;
  }
  body .bottom-footer .language-wrapper {
    border: 1px solid white;
    background-color: #232f3e;
    margin: 0 8px;
    border-radius: 4px;
    cursor: pointer;
  }
  body .bottom-footer .language-wrapper i {
    color: #cac7c7;
    font-size: 18px;
  }
  body .bottom-footer .language-wrapper input {
    border: none;
    outline: none;
    background-color: #232f3e;
    color: white;
    width: 80px;
    height: 35px;
  }
  body .bottom-footer h2 {
    color: white;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
  }
  body .bottom-footer button {
    width: 100px;
    height: 35px;
    background-color: #232f3e;
    color: #cac7c7;
    border: 1px solid white;
    margin: 0 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  body .the-very-bottom-footer {
    background-color: #141b24;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 50px 0;
  }
  body .the-very-bottom-footer h6 {
    color: white;
    font-size: 14px;
    margin-top: 30px;
  }
  body .the-very-bottom-footer a {
    color: white;
    text-decoration: none;
    font-size: 10px;
    line-height: 16px;
  }
  body .sec-1 {
    float: left;
    padding: 0 20px;
  }
  body .sec-2 {
    float: left;
    padding: 0 20px;
  }
  body .sec-3 {
    float: left;
    padding: 0 20px;
  }
  body .sec-4 {
    float: left;
    padding: 0 20px;
  }
  body .sec-5 {
    float: left;
    padding: 0 20px;
  }
  body .sec-6 {
    float: left;
    padding: 0 20px;
  }
  body .sec-7 {
    float: left;
    padding: 0 20px;
  }
}

.delev {
  width: 100%;
  height: 50px;
  background-color: #172b42;
  color: white;
  line-height: 50px;
  padding-left: 20px;
  font-weight: bolder;
}

/*############################################## bg image  ############################################*/
body {
  background-color: #dfdcdc;
}

#image {
  width: 100%;
  background-size: cover;
  position: absolute;
}
/*# sourceMappingURL=style.css.map */