.bottom-footer{
    width: 100%;
    height: 100px;
    background-color: #232f3e;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(88, 88, 88);
    .language-wrapper{
        border: 1px solid white;
        background-color: #232f3e;
        margin: 0 8px;
        border-radius: 4px;
        cursor: pointer;
        i{
            color: rgb(202, 199, 199);
            font-size: 18px;
        }
        input{
            border: none;
            outline: none;
            background-color: #232f3e;
            color: white;
            width: 80px;
            height: 35px;
        }
    }
    h2{
        color: white;
        margin-right: 100px;
        cursor: pointer;
    }
    button{
        width: 6;
        height: 35px;
        background-color: #232f3e;
        color: rgb(202, 199, 199);
        border: 1px solid white;
        margin: 0 10px;
        border-radius: 4px;
        cursor: pointer;
    }



 
}

/*####################################### the-very-bottom-footer ######################################*/
.the-very-bottom-footer{
    background-color: #141b24;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0;
    h6{
        color: white;
        font-size: 14px;
        margin-top: 30px;
    }
    a{
        color: white;
        text-decoration: none;
        font-size: 10px;
        line-height: 16px;
    }
}
@for $sec from 1 through 7 {
    .sec-#{$sec}{
        float: left;
        padding: 0 20px;
    }
}

body{
    @media only screen and (max-width: 716px) {
        .bottom-footer{
            width: 100%;
            height: 220px;
            background-color: #232f3e;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-top: 1px solid rgb(88, 88, 88);
            .language-wrapper{
                border: 1px solid white;
                background-color: #232f3e;
                margin: 0 8px;
                border-radius: 4px;
                cursor: pointer;
                i{
                    color: rgb(202, 199, 199);
                    font-size: 18px;
                }
                input{
                    border: none;
                    outline: none;
                    background-color: #232f3e;
                    color: white;
                    width: 80px;
                    height: 35px;
                }
            }
            h2{
                color: white;
                margin-right: 10px;
                cursor: pointer;
                font-size: 16px;
            }
            button{
                width: 100px;
                height: 35px;
                background-color: #232f3e;
                color: rgb(202, 199, 199);
                border: 1px solid white;
                margin: 0 10px;
                border-radius: 4px;
                cursor: pointer;
            }
        
        
        
         
        }
        
        /*####################################### the-very-bottom-footer ######################################*/
        .the-very-bottom-footer{
            background-color: #141b24;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
            padding: 50px 0;
            h6{
                color: white;
                font-size: 14px;
                margin-top: 30px;
            }
            a{
                color: white;
                text-decoration: none;
                font-size: 10px;
                line-height: 16px;
            }
        }
        @for $sec from 1 through 7 {
            .sec-#{$sec}{
                float: left;
                padding: 0 20px;
            }
        }
        
    }
}
