/*######################################### header #####################################################*/
header{
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #232f3e;
    justify-content: space-around;
    align-items: center;
    h2{
        color: #fff;
        padding: 10px 0;
        &:hover{
            outline: 1px solid white;
        }
    }
    p{
        color: #fff;
        padding: 4px;
        font-size: 14px;
        &:hover{
            outline: 1px solid white;
        }
    }
    .delevery-wrapper{
        display: flex;
        align-items: center;
        i{
            color: #fff;
            padding-right: 10px;
        }
        span{
            color: $gray-color;
        }
    }
    .search-wrapper{
        width: 50%;
        height: 40px;
        background-color: #fff;
        border-radius: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:focus-within{
            border: 2px solid orange;
        }
        input{
            width: 100%;
            border: none;
            outline: none;
        }
        input[placeholder]{
            font-size: 17px;
            padding-left: 10px;
        }
        label{
            width: 60px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: space-around;
            background-color: rgb(218, 218, 218);
            border-radius: 6px 0 0 6px;
            padding: 0 10px;
            font-size: 17px;
            color: $gray-color;
            border-right: 1px solid rgb(145, 144, 144);
            &:hover{
                color: black;
            }
            i{
                font-size: 16px;
            }
        }
        #search-icon{
            background-color: rgb(233, 173, 61);
            width: 40px;
            height: 100%;
            line-height: 40px;
            text-align: center;
            border-radius: 0 6px 6px 0;
        }
    }
    .sign-in-wrapper{
       p{
           font-weight: bold;
           span{
            color: $gray-color;
            font-weight: normal;
        }
       }
    }
    .return-wrapper{
        p{
            font-weight: bold;
            span{
             color: $gray-color;
             font-weight: normal;
         }
        }
    }
    .cart{
        font-size: 20px;
        color: #fff;
        padding: 12px 0;
        &:hover{
            outline: 1px solid white;
        }
    }
}

/*######################################## header media quiries 900px #################################*/

body{

    @media only screen and (max-width: 900px){
        header{
            width: 100%;
            height: 90px;
            border-bottom: 1px solid grey;
            padding-bottom: 3px;
          
            
menu{
    width: 80%;
    height: 100%;
    background-color: #444;
    left: -700px;
    position: fixed;
    top: 0;
    z-index: 1;
    transition: 0.6s;
    text-align: left;
    overflow: hidden;
    overflow-y: scroll;
    h6{
        background-color: #232f3e;
        padding: 24px;
        color: white;
        font-size: 30px;
    }
    h3{
       color: black;
       background-color: white;
       padding: 24px;
       #home{
           float: right;
           font-size: 24px;
       }

    }
    #h3{
        border-bottom: 4px solid grey;
    }
    #para{
            border-bottom: 4px solid grey;
    }
    p{
        color: rgb(39, 38, 38);
        background-color: white;
        padding: 20px;
    }

}
#check{
    display: none;
}
#bars, #times{
    position: absolute;
    cursor: pointer;
    z-index: 1;
    font-size: 20px;
}
#bars{
    z-index: 1;
    top: 1.5%;
    color: white;
    left: 4%;
}
#times{
    left: 70%;
    color: white;
    z-index: 77;

}
#check:checked ~ menu{
    left: 0;
}
            
            h2{
                align-self: baseline;
                position: absolute;
              
                left: 10%;
                &:hover{
                    outline: none;
                }
            }
            .delevery-wrapper{
                display: none;
            }
            .search-wrapper{
                width: 96%;
                align-self: flex-end;
            }
            .sign-in-wrapper{
                align-self: baseline;
                position: absolute;
                right: 19%;
            }
            .return-wrapper{
                display: none;
            }
            .cart{
                align-self: baseline;
                position: absolute;
                right: 3%;
                &:hover{
                    outline: none;
                }
            }
        }
    }
    @media only screen and (max-width: 400px){
        header{
            h2{
                font-size: 17px;
                top: 0.6%;
            }
            .sign-in-wrapper{
                display: none;
            }
        }
    }
}