.back-to-top{
    width: 100%;
    background-color: #2e3c4d;
    padding: 8px 0;
    line-height: 40px;
    text-align: center;
    margin-top: 50px;
    border-top: 1px solid rgb(221, 209, 209);
    a{
        text-decoration: none;
        color: white; 
    }
}

.middle-footer{
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-evenly;
    background-color: #232f3e;
    color: white;
    padding-top: 50px;
    
     a{
        display: block;
        color: white;
        line-height: 30px;
        text-decoration: none;
     }
}

body{
    @media only screen and (max-width: 716px){
        .back-to-top{
            width: 100%;
            background-color: #2e3c4d;
            padding: 8px 0;
            line-height: 40px;
            text-align: center;
            margin-top: 50px;
            border-top: 1px solid rgb(221, 209, 209);
            a{
                text-decoration: none;
                color: white; 
            }
        }
        
        .middle-footer{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
            background-color: #232f3e;
            color: white;
            padding-top: 50px;
            
             a{
                display: block;
                color: white;
                line-height: 30px;
                text-decoration: none;
             }
        }
        
    }
}