/*################################################ nav #################################################*/
nav{
    width: 100%;
    height: 50px;
    background-color: rgb(41, 33, 83);
    display: flex;
    justify-content: space-between;
    align-items: center;
   .left-bar{
       margin-left: 20px;
       i{
        color: #fff;
        margin-left: 20px;
        padding: 10px 4px;
        &:hover{
            outline: 1px solid white;
        }
        span{
            margin-left: 4px;
        }
    }
    a{
        color: white;
        text-decoration: none;
        margin-left: 20px;
        font-size: 14px;
        padding: 10px 10px;
        &:hover{
            outline: 1px solid white;
        }
    }
   }
   .right-bar{
    a{
        color: white;
        text-decoration: none;
        margin-right: 30px;
        font-size: 14px;
        padding: 10px 10px;
        &:hover{
            outline: 1px solid white;
        }
    }

   }
}

/*############################################## nav media quiries #####################################*/

body{
    nav{
        width: 100%;
        height: 30px;
        background-color: #232f3e;
        overflow: hidden;
        overflow-x: scroll;
        height: 80px;
        white-space: nowrap;
       .left-bar{
           margin-left: 10px;
           width: 70%;
           i{
            color: #fff;
            &:hover{
                outline: none;
            }
            span{
                margin-left: 4px;
            }
        }
        a{
            color: white;
            text-decoration: none;
            padding: 0 10px;
            font-weight: bold;
            &:hover{
                outline: none;
                color: rgb(196, 97, 40);
            }
        }
       }
       .right-bar{
           width: 40%;
        a{
            color: white;
            text-decoration: none;
            padding-left: 300px;
            font-weight: bold;
            &:hover{
                outline: none;
                color: rgb(196, 97, 40);
            }
        }
    
       }
    }
}